/* CSS Reset */
#element { margin:0; padding:0; font-size:100%; line-height:1; }

...
/* #element rules: */
#element { margin:5px 0 10px; font-size:13px; line-height:1.5; }

body {
  margin: 0;
  color: black;
}

/*  header  */
header {
  display: flex;
  position: fixed;
  z-index: 1;
  margin: 0 auto;
  height: 80px;
  width: 100%;
  align-items: center;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  background-color: white;
}
/*  navigation  */
nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  border: 1px solid black;
}

span.nav {
  padding: 20px 10px;
  border: 1px solid black;
}

div, p, span {
  border: 1px solid black;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 17px;
}

/* News Stories  */
.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.story.text {
  height: 250px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

/*  Main   */
.main {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
  color: MediumAquamarine;
  border: 1px solid black;
}

.logo span {
  padding-left: 10px;
  border: 1px solid black;
}

/*  columns  */
.column {
  display: flex;
  margin-right: 20px;
}

.column.large {
  display: flex;
  border: 1px solid black;
  align-content: center;
  flex-direction: column;

}

.column.medium {
  width: 300px;
  border: 1px solid black;
}

.column.small {
  display: flex;
  flex-direction: column;
  width: 240px;
  border: 1px solid black;
}

/* Main Story */
.first {
  width: 630px;
}

.first.story .image {
  background-image: url("images/img-story-main.png");
  width: 630px;
  margin-top: 0;
  text-align: left;
  font-size: 40px;

}
